p {
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.customGreen {
    background-color: #214C1C !important;
    color: #ffffff !important;
}

.customBlue {
    background-color: #06466C !important;
    color: #ffffff !important;
}

.customYellow {
    background-color: #C0FE38;
}

.slide > div > h3 {
    font-size: 30px;
    font-weight: bold;
}

.slide > div > p {
    font-size: 15px;
    font-weight: thin;
}